Label {
  text-align: center;
}

.ex1, .ex2 {
  background-color: white;
}

.ex3, .ex4 {
  color: white;
}

.ex3 {
  background-color: #006968;
  border-radius: 15;
}

.ex4 {
  background-color: #ff1744;
  border-radius: 50%;
  width: 80;
  height: 80;
}