<ActionBar class="action-bar">
  <Label class="action-bar-title" text="Demo"></Label>
</ActionBar>

<GridLayout rows="*, auto" columns="*" class="page">
  <StackLayout row="0" col="0">
    <Label *ngIf="show" class="h3 m-15 p-10 ex1" [text]="'shadow=\''+elevation+'\''" [shadow]="elevation"></Label>
    <Label *ngIf="show" class="h3 m-15 p-10 ex2" [text]="'shadow elevation=\''+elevation+'\''" shadow [elevation]="elevation"></Label>
    <Label *ngIf="show" class="h3 m-15 p-10 ex3" [text]="'shadow [elevation]=\''+elevation+'\' bgcolor=\'#006968\' [shape]=\'shape.RECTANGLE\' corderRadius=15'" shadow [elevation]="elevation" bgcolor="#006968" [shape]="shape.RECTANGLE" cornerRadius="15"></Label>
    <Label *ngIf="show" class="h1 m-15 p-15 ex4" text="☺" [shadow]="backgroundData"></Label>
    <Label *ngIf="show" class="h3 m-15 lbl5" [text]="'{ elevation: '+elevation+', bgcolor: \'#ff1744\', shape: shape.OVAL }'"></Label>
  </StackLayout>
  <ListPicker row="1" col="0" [items]="stdElevations" selectedIndex="2" (selectedIndexChange)="setElevation($event)" class="p-15"></ListPicker>
</GridLayout>
